<nav class="navbar bg-dark border-bottom border-body navbar-expand-lg" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand fs-2 fw-bold" href="#">App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse fs-3" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item p-2">
          <a class="nav-link " aria-current="page" routerLink="/home" routerLinkActive="active  bg-secondary   rounded-1">Home</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link" routerLink="/list" routerLinkActive="active  bg-secondary   rounded-1">List</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link" routerLink="/products" routerLinkActive="active  bg-secondary   rounded-1">Products</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
